In [1]:
import pandas as pd # você pode trazer todas as importações para o início do seu código, para evitar repetição de importações de bibliotecas e economizar memória

In [2]:
# import pandas as pd

info = pd.read_excel("best-selling game consoles.xlsx",
                      sheet_name="info")
info.head()

,Unnamed: 0,https://www.kaggle.com/datasets/tayyarhussain/best-selling-game-consoles-of-all-time
0,NaN,NaN
1,NaN,This dataset contains information about the be...
2,NaN,NaN
3,NaN,Console Name: The name of the game console.
4,NaN,"Type: The type of console (e.g., home console,..."

In [11]:
# import pandas as pd

consoles = pd.read_excel("best-selling game consoles.xlsx",
                      sheet_name="consoles")
consoles.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PlayStation 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,Nintendo DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017,0,122.55,NaN
3,Game Boy,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,Game Boy Color,Handheld,Nintendo,1998,2003,44.06,NaN

In [4]:
# Criando esta célula apenas para verificar os valores do Console Name antes da substituição 

consoles['Console Name'].unique()

array(['PlayStation 2', 'Nintendo DS', 'Nintendo Switch', 'Game Boy',
       'Game Boy Color', 'PlayStation 4', 'PlayStation', 'Wii',
       'PlayStation 3', 'Xbox 360', 'Game Boy Advance',
       'PlayStation Portable', 'Nintendo 3DS', 'NES/Famicom', 'Xbox One',
       'SNES/Super Famicom', 'Game & Watch', 'Nintendo 64',
       'Sega Genesis/Mega Drive', 'PlayStation 5', 'Atari 2600', 'Xbox',
       'GameCube', 'Xbox Series X/S', 'Wii U', 'PlayStation Vita',
       'Sega Master System', 'Sega Game Gear', 'PC Engine/TurboGrafx-16',
       'Sega Saturn', 'Dreamcast', 'Master System(Brazilian variants)',
       'Dendy(Famiclone)', 'Super NES Classic Edition',
       'Famicom Disk System', 'NES Classic Edition', 'WonderSwan',
       'Sega Pico', 'Color TV-Game', 'Intellivision',
       'Mega Drive(Brazilian variants)', 'N-Gage', 'Sega CD',
       'ColecoVision', 'Magnavox Odyssey', 'PC Engine CD-ROM',
       'Atari 7800', 'Atari Lynx', 'Philips CD-i', 'Telstar',
       'Atari 5200'], dtype=object)

A planilha tem duas abas, info e consoles

In [5]:
# consoles['Console Name'] = consoles['Console Name'].str.replace('NINTENDO DS','Nitendinho')
# consoles['Console Name'] = consoles['Console Name'].str.upper()
# # consoles.head()

# # Como você quer verificar se os valores da coluna Console Name foram modificados, você pode utilizar o método .unique() e verificar se a substituição foi feita. 
# # Segue o exemplo:

# consoles['Console Name'].unique()

array(['PLAYSTATION 2', 'NINTENDO DS', 'NINTENDO SWITCH', 'GAME BOY',
       'GAME BOY COLOR', 'PLAYSTATION 4', 'PLAYSTATION', 'WII',
       'PLAYSTATION 3', 'XBOX 360', 'GAME BOY ADVANCE',
       'PLAYSTATION PORTABLE', 'NINTENDO 3DS', 'NES/FAMICOM', 'XBOX ONE',
       'SNES/SUPER FAMICOM', 'GAME & WATCH', 'NINTENDO 64',
       'SEGA GENESIS/MEGA DRIVE', 'PLAYSTATION 5', 'ATARI 2600', 'XBOX',
       'GAMECUBE', 'XBOX SERIES X/S', 'WII U', 'PLAYSTATION VITA',
       'SEGA MASTER SYSTEM', 'SEGA GAME GEAR', 'PC ENGINE/TURBOGRAFX-16',
       'SEGA SATURN', 'DREAMCAST', 'MASTER SYSTEM(BRAZILIAN VARIANTS)',
       'DENDY(FAMICLONE)', 'SUPER NES CLASSIC EDITION',
       'FAMICOM DISK SYSTEM', 'NES CLASSIC EDITION', 'WONDERSWAN',
       'SEGA PICO', 'COLOR TV-GAME', 'INTELLIVISION',
       'MEGA DRIVE(BRAZILIAN VARIANTS)', 'N-GAGE', 'SEGA CD',
       'COLECOVISION', 'MAGNAVOX ODYSSEY', 'PC ENGINE CD-ROM',
       'ATARI 7800', 'ATARI LYNX', 'PHILIPS CD-I', 'TELSTAR',
       'ATARI 5200'], dtype=object)

In [12]:
# Verifique que como você utilizou a função .str.upper() depois da substituição, a palavra NINTENDO DS não foi substituída por Nintendinho no código anterior.
# Vamos inverter os códigos para você verificar que se você passar um upper() e depois substituir, irá funcionar. 

consoles['Console Name'] = consoles['Console Name'].str.upper()
consoles['Console Name'] = consoles['Console Name'].str.replace('NINTENDO DS','Nintendinho')

consoles['Console Name'].unique()

# O segundo elemento NINTENDO DS foi substituído por Nintendinho.

array(['PLAYSTATION 2', 'Nintendinho', 'NINTENDO SWITCH', 'GAME BOY',
       'GAME BOY COLOR', 'PLAYSTATION 4', 'PLAYSTATION', 'WII',
       'PLAYSTATION 3', 'XBOX 360', 'GAME BOY ADVANCE',
       'PLAYSTATION PORTABLE', 'NINTENDO 3DS', 'NES/FAMICOM', 'XBOX ONE',
       'SNES/SUPER FAMICOM', 'GAME & WATCH', 'NINTENDO 64',
       'SEGA GENESIS/MEGA DRIVE', 'PLAYSTATION 5', 'ATARI 2600', 'XBOX',
       'GAMECUBE', 'XBOX SERIES X/S', 'WII U', 'PLAYSTATION VITA',
       'SEGA MASTER SYSTEM', 'SEGA GAME GEAR', 'PC ENGINE/TURBOGRAFX-16',
       'SEGA SATURN', 'DREAMCAST', 'MASTER SYSTEM(BRAZILIAN VARIANTS)',
       'DENDY(FAMICLONE)', 'SUPER NES CLASSIC EDITION',
       'FAMICOM DISK SYSTEM', 'NES CLASSIC EDITION', 'WONDERSWAN',
       'SEGA PICO', 'COLOR TV-GAME', 'INTELLIVISION',
       'MEGA DRIVE(BRAZILIAN VARIANTS)', 'N-GAGE', 'SEGA CD',
       'COLECOVISION', 'MAGNAVOX ODYSSEY', 'PC ENGINE CD-ROM',
       'ATARI 7800', 'ATARI LYNX', 'PHILIPS CD-I', 'TELSTAR',
       'ATARI 5200'], dtype=object)

In [13]:
# Neste caso não seria obrigatório o uso do str.upper() pois você utilizou no código anterior, mas, seria a mesma lógica. Primeiro transformar e depois substituir, pois vc utilizou o argumento NINTENDO SWITCH em maiúsculo


consoles['Console Name'] = consoles['Console Name'].str.upper()
consoles['Console Name'] = consoles['Console Name'].str.replace('NINTENDO SWITCH','NnitendinhoS')
# consoles['Console Name'] = consoles['Console Name'].str.upper()
# consoles.head()

consoles['Console Name'].unique()

# Verfique que a substituição foi feita corretamente.

array(['PLAYSTATION 2', 'NINTENDINHO', 'NnitendinhoS', 'GAME BOY',
       'GAME BOY COLOR', 'PLAYSTATION 4', 'PLAYSTATION', 'WII',
       'PLAYSTATION 3', 'XBOX 360', 'GAME BOY ADVANCE',
       'PLAYSTATION PORTABLE', 'NINTENDO 3DS', 'NES/FAMICOM', 'XBOX ONE',
       'SNES/SUPER FAMICOM', 'GAME & WATCH', 'NINTENDO 64',
       'SEGA GENESIS/MEGA DRIVE', 'PLAYSTATION 5', 'ATARI 2600', 'XBOX',
       'GAMECUBE', 'XBOX SERIES X/S', 'WII U', 'PLAYSTATION VITA',
       'SEGA MASTER SYSTEM', 'SEGA GAME GEAR', 'PC ENGINE/TURBOGRAFX-16',
       'SEGA SATURN', 'DREAMCAST', 'MASTER SYSTEM(BRAZILIAN VARIANTS)',
       'DENDY(FAMICLONE)', 'SUPER NES CLASSIC EDITION',
       'FAMICOM DISK SYSTEM', 'NES CLASSIC EDITION', 'WONDERSWAN',
       'SEGA PICO', 'COLOR TV-GAME', 'INTELLIVISION',
       'MEGA DRIVE(BRAZILIAN VARIANTS)', 'N-GAGE', 'SEGA CD',
       'COLECOVISION', 'MAGNAVOX ODYSSEY', 'PC ENGINE CD-ROM',
       'ATARI 7800', 'ATARI LYNX', 'PHILIPS CD-I', 'TELSTAR',
       'ATARI 5200'], dtype=object)

In [15]:
# Fazendo as mesmas alterações no código

consoles['Console Name'] = consoles['Console Name'].str.upper()


consoles['Console Name'] = consoles['Console Name'].str.replace('PLAYSTATION 4','Play4')
consoles['Console Name'] = consoles['Console Name'].str.replace('PLAYSTATION 2','Play2')
consoles['Console Name'].unique()

array(['PLAY2', 'NINTENDINHO', 'NNITENDINHOS', 'GAME BOY',
       'GAME BOY COLOR', 'PLAY4', 'PLAYSTATION', 'WII', 'PLAYSTATION 3',
       'XBOX 360', 'GAME BOY ADVANCE', 'PLAYSTATION PORTABLE',
       'NINTENDO 3DS', 'NES/FAMICOM', 'XBOX ONE', 'SNES/SUPER FAMICOM',
       'GAME & WATCH', 'NINTENDO 64', 'SEGA GENESIS/MEGA DRIVE',
       'PLAYSTATION 5', 'ATARI 2600', 'XBOX', 'GAMECUBE',
       'XBOX SERIES X/S', 'WII U', 'PLAYSTATION VITA',
       'SEGA MASTER SYSTEM', 'SEGA GAME GEAR', 'PC ENGINE/TURBOGRAFX-16',
       'SEGA SATURN', 'DREAMCAST', 'MASTER SYSTEM(BRAZILIAN VARIANTS)',
       'DENDY(FAMICLONE)', 'SUPER NES CLASSIC EDITION',
       'FAMICOM DISK SYSTEM', 'NES CLASSIC EDITION', 'WONDERSWAN',
       'SEGA PICO', 'COLOR TV-GAME', 'INTELLIVISION',
       'MEGA DRIVE(BRAZILIAN VARIANTS)', 'N-GAGE', 'SEGA CD',
       'COLECOVISION', 'MAGNAVOX ODYSSEY', 'PC ENGINE CD-ROM',
       'ATARI 7800', 'ATARI LYNX', 'PHILIPS CD-I', 'TELSTAR',
       'ATARI 5200'], dtype=object)

In [16]:
# consoles.loc[consoles['Released Year']>2010,'Console Name']

# Você pode trazer também a coluna Released Year para confirmar que seu filtro funcionou corretamente

consoles.loc[consoles['Released Year']>2010,['Console Name', 'Released Year']]

                 Console Name  Released Year
2                NNITENDINHOS           2017
5                       PLAY4           2013
12               NINTENDO 3DS           2011
14                   XBOX ONE           2013
19              PLAYSTATION 5           2020
23            XBOX SERIES X/S           2020
24                      WII U           2012
25           PLAYSTATION VITA           2011
33  SUPER NES CLASSIC EDITION           2017
35        NES CLASSIC EDITION           2016

In [17]:
consoles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               16 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

In [18]:
consoles.describe()

       Released Year  Discontinuation Year  Units sold (million)
count      51.000000             51.000000             51.000000
mean     1996.058824           1844.803922             35.549412
std        12.378064            543.657319             42.608844
min      1976.000000              0.000000              1.000000
25%      1987.500000           1992.000000              3.200000
50%      1994.000000           1998.000000             13.560000
75%      2004.500000           2011.500000             60.205000
max      2020.000000           2020.000000            155.000000

In [20]:
consoles['descontinuado'] = consoles['Discontinuation Year'] - consoles['Released Year']

consoles.loc[(consoles['descontinuado']<2)&(consoles['descontinuado']>0),
             ['Console Name','Released Year','Discontinuation Year', 'descontinuado']]

# Regiane, você aplicou a lógica corretamente. Apenas alterei pois o excercício falou para descontinuação com menos de 2 anos do lançamento. Daí substituí o <= por <

,Console Name,Released Year,Discontinuation Year,descontinuado
33,SUPER NES CLASSIC EDITION,2017,2018,1